.fade-enter-active {
  animation: fade 0.15s ease-in-out;
}
.fade-leave-active {
  animation: fade 0.05s ease-in-out reverse;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale3d(0.75, 0.75, 0.75);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  @apply duration-200 transition-all ease-[cubic-bezier(0.19,1,0.22,1)] overflow-hidden;
}

.slide-left-enter,
.slide-right-leave-active {
  @apply opacity-0 transform-gpu translate-x-full;
}

.slide-left-leave-active,
.slide-right-enter {
  @apply opacity-0 transform-gpu -translate-x-full;
}
