@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/variants";
@import "./route-animations";
@import "./tooltip";

html,
body {
  @apply text-white bg-gray-900 antialiased m-0;
}

#app {
  @apply min-h-screen flex flex-col;
}

*:focus-visible {
  @apply outline outline-2 outline-cyan-600 outline-offset-2;
}

.glitched {
  @apply relative w-20 h-20;

  > svg {
    @apply absolute top-0 left-0 w-full h-full antialiased;

    &:nth-child(2),
    &:nth-child(3) {
      clip: rect(0 0 0 0);
    }

    &:nth-child(2) {
      @apply -left-[2px] bg-red-50 stroke-red-950;

      animation: glitch 8s infinite linear alternate-reverse;
    }
    &:nth-child(3) {
      @apply -left-[1px] bg-gray-100;

      animation: glitch 10s infinite linear alternate-reverse;
    }
  }
}

@keyframes glitch {
  0% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  2.5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  7.5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  10% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  12.5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  15% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  17.5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  20% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  22.5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  25% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  27.5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  30% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  32.5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  35% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  37.5% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  40% {
    clip: rect(calc(random(0, 5) * 1rem), 10rem, calc(random(0, 5) * 1rem), 0);
  }

  42.5%,
  100% {
    clip: rect(0 0 0 0);
  }
}
